# General Env Variables
NODE_ENV=development

# Database Configuration
POSTGRES_DB=hono_api_template
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Database URL for Drizzle
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Auth Socials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=